.rd1{
    height:800px;
    width:2000px;
    display: flex;
    position: relative;
    
    background-color:	 #cce6ff;
}
.subheader{
    height:100%;
    width:50%;
    justify-content: center;
    align-items: center;

}
.form{
    height:100%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    

}
.co{
    font-size:60px;
    font-weight:bold;
    color:grey;
    position: relative;
    top:700px;
    left:-200px;
    
}
.co1{
    font-size:60px;
    font-weight:bold;
    color:#000099;
    position: relative;
    top:700px;
    left:-200px
}
